* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  /* overflow-x: hidden; */
  background: #0c2340;
  padding-bottom: 100px;
}

.search-background video {
  width: 100%;
  top: 1px;
  left: 1px;
  opacity: 0.85;
}

.search-bar {
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.1s ease;
}

.title-search-bar {
  position: absolute;
  top: 170px;
  left: 30%;
  font-size: 50pt;
}

#input-bar {
  position: absolute;
  margin: 20% 22%;
  width: 60%;
  height: 80px;
  border: 3px solid white;
  border-radius: 15px;
  padding: 10px;
  top: 1px;
}

.img-search {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 312px;
  left: 77%;
}

/* Second side - weather*/

main {
  position: relative;
  top: 100vh;
  color: white;
  padding: 100px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: grid;
  gap: 30%;
  grid-template-columns: 40% 50%;
  padding-bottom: 10px;
}

.day-month {
  display: flex;
  height: 100px;
  font-size: 30px;
  align-items: center;
}

.day-month-img {
  width: 100px;
  height: 100px;
  /* margin-top: -27px; */
}

.now-cast {
  height: 329px;
  margin-top: 200px;
  margin-left: 25px;
}

.degrees-now {
  font-size: 90px;
}

.city-country, .real-time-weather {
  font-size: 25px;
}

/* Weather side */
.weather-details {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 350px;
  background-color: #0f2c51;

}

.wind {
  display: flex;
  flex-direction: row;
  flex-direction: end;
  gap: 80px;
}

.wind-direction, .wind-speed {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.wind img, .wind-speed img {
  width: 30px;
  height: 30px;
  margin-left: 25px;
}

.choose-view {
  display: flex; 
  flex-direction: row;
  gap: 70px;
}

.daily-view {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.weather, .hours {
  list-style: none;
}

.daily-view li:not(:first-child) {
  margin-top: 20px;
}

.weather li {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.upcoming-weather {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

p, li {
  font-size: 25px;
}

.weather img {
  width: 30px;
  height: 30px
}

